$lightwhite: hsl(213, 100%, 92%);
$bg-white: #fafafa;
$text-white: #fff;

body {
  background-color: $bg-white;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  min-width: 360px !important;

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: invert(1);
  }

  

  

  .comment{
    width: 100%;
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 400ms;
  

    margin-top: 0px !important;

    .comment-wrapper{
      display: flex;
      padding: 20px;
      max-width: 70%;
      .friend-item{
        display: flex;
        align-items: center;
        @media screen and (max-width: 600px){
          flex-direction: column;
          p{
            text-align: center;
          }

        }
        .image-container{
          a{
            img{
              width: 100px;
              height: auto;
              margin-right: 30px;
              @media screen and (max-width: 600px){
                margin-right: 0;
                margin-bottom: 30px;
              }
            }
          }
        }
        >p{
          margin-bottom: unset;

        }
      }

    }

   
  }

}

.btn-white {
  background-color: #fff;
  border: none;
  color: #026E00;
}

.btn-white:hover {
  background-color: $lightwhite;
  color: #026E00;
}

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #1b1e21;
  padding: 15px;
  border-radius: 5px;
  height: 50px;
}

.mastfoot {
  background-color: #026E00;
}

.navbar {
  font-size: 18px;
  text-transform: uppercase;

  a:hover {
    color: $lightwhite!important;
  }
}


.st_flex {
  display:flex;
  justify-content:space-around;

  a {
    margin-left: 30px;
    margin-right: 30px;
  }

}




.masthead {
  min-height: 500px;

  background-color: #026E00;
  background-image: url('/assets/img/background8.png');
  //background-image: url('/Users/joseph/github/www.denoify.land/docs/assets/img/background8.png');
  background-attachment: fixed;
  /*background-position: center; */


  .terminal-wrapper {
    position: relative;
    padding: 20px 0;

    .term1{
      margin-bottom: 40px !important;
    }
    .terminal{
      width: 520px;
      max-width: 90%;
      position: relative;

    }
  }

  .content  {
    height: 600px;
    @media (max-width: 575px){
      height: 420px;
    }


  }
  

  h1 {
    color: white;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 0;
    font-size: 60px;

    @media (max-width: 575px){
      font-size: 40px;
      margin-top: 30px;
    }

  }

  h3 {
    font-weight: 300;
    color: #fff;

    @media (max-width: 575px){
      font-size: 1.2em;
      margin-bottom: 50px;
    }

  }

  p {
    line-height: 1.75;
  }

  img {
    max-width: 300px;
  }

  .btn {
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3);
  }
}

.screenshot-container {
  text-align: center;
  background: linear-gradient(rgb(171, 203, 243), 5%, $bg-white);
  @media (max-width: 575px){
    display: none;
  }

  img {
    margin-top: -235px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}


.badges-container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  padding-left: 0px;

  background-color: $bg-white;

  text-align: center;
}

.mastfoot {
  padding: 10px 0px;
  color: $text-white;
  text-align: center;
}



.code {
  color: #696969;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-style: initial;
}