body {
  background-color: #fafafa;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  min-width: 360px !important; }
  body .carousel-control-next-icon,
  body .carousel-control-prev-icon {
    filter: invert(1); }
  body .comment {
    width: 100%;
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 400ms;
    margin-top: 0px !important; }
    body .comment .comment-wrapper {
      display: flex;
      padding: 20px;
      max-width: 70%; }
      body .comment .comment-wrapper .friend-item {
        display: flex;
        align-items: center; }
        @media screen and (max-width: 600px) {
          body .comment .comment-wrapper .friend-item {
            flex-direction: column; }
            body .comment .comment-wrapper .friend-item p {
              text-align: center; } }
        body .comment .comment-wrapper .friend-item .image-container a img {
          width: 100px;
          height: auto;
          margin-right: 30px; }
          @media screen and (max-width: 600px) {
            body .comment .comment-wrapper .friend-item .image-container a img {
              margin-right: 0;
              margin-bottom: 30px; } }
        body .comment .comment-wrapper .friend-item > p {
          margin-bottom: unset; }

.btn-white {
  background-color: #fff;
  border: none;
  color: #026E00; }

.btn-white:hover {
  background-color: #d6e9ff;
  color: #026E00; }

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #1b1e21;
  padding: 15px;
  border-radius: 5px;
  height: 50px; }

.mastfoot {
  background-color: #026E00; }

.navbar {
  font-size: 18px;
  text-transform: uppercase; }
  .navbar a:hover {
    color: #d6e9ff !important; }

.st_flex {
  display: flex;
  justify-content: space-around; }
  .st_flex a {
    margin-left: 30px;
    margin-right: 30px; }

.masthead {
  min-height: 500px;
  background-color: #026E00;
  background-image: url("/assets/img/background8.png");
  background-attachment: fixed;
  /*background-position: center; */ }
  .masthead .terminal-wrapper {
    position: relative;
    padding: 20px 0; }
    .masthead .terminal-wrapper .term1 {
      margin-bottom: 40px !important; }
    .masthead .terminal-wrapper .terminal {
      width: 520px;
      max-width: 90%;
      position: relative; }
  .masthead .content {
    height: 600px; }
    @media (max-width: 575px) {
      .masthead .content {
        height: 420px; } }
  .masthead h1 {
    color: white;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 0;
    font-size: 60px; }
    @media (max-width: 575px) {
      .masthead h1 {
        font-size: 40px;
        margin-top: 30px; } }
  .masthead h3 {
    font-weight: 300;
    color: #fff; }
    @media (max-width: 575px) {
      .masthead h3 {
        font-size: 1.2em;
        margin-bottom: 50px; } }
  .masthead p {
    line-height: 1.75; }
  .masthead img {
    max-width: 300px; }
  .masthead .btn {
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3); }

.screenshot-container {
  text-align: center;
  background: linear-gradient(#abcbf3, 5%, #fafafa); }
  @media (max-width: 575px) {
    .screenshot-container {
      display: none; } }
  .screenshot-container img {
    margin-top: -235px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto; }

.badges-container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 35px;
  padding-left: 0px;
  background-color: #fafafa;
  text-align: center; }

.mastfoot {
  padding: 10px 0px;
  color: #fff;
  text-align: center; }

.code {
  color: #696969;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-style: initial; }
